{% extends 'base.html' %} 
{% block title %} About {% endblock title %} 
{% block body %}

<style>
   {
    box-sizing: border-box;
  }
  /* Set additional styling options for the columns*/
  .column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<div class="row">
  <div class="column" style="">
    <div class="container-fluid px-0">
      <img src="static/img/order_1.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>

  <div class="column" style="">
    <div class="container mb-3 py-4">
      <h1 class="text-center">Order Your Favourite Coffee</h1>
      <form method="post" action="/order">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter your name"
          />
        </div>
        <div class="mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your Email"
          />
        </div>
        <div class="mb-3">
          <label for="phone">Phone Number</label>
          <input
            type="phone"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Enter your Phone Numer"
          />
        </div>
        <div class="mb-3">
          <label for="coffeeName">Coffee Name</label>
          <input
            type="text"
            class="form-control"
            id="coffeeName"
            name="coffeeName"
            placeholder="Enter your Favourite Coffee"
          />
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock body %}
